*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 16px;
  list-style: none;
  text-decoration: none;
  scroll-behavior: smooth;
}

html{
    scroll-behavior: smooth;
}

body {
    background-image:linear-gradient(rgba(0,0,0,0.75),rgba(0,0,0,0.75)), url(RESTAURANT.jpg);
    background-size: cover;
    background-position: center;
    text-align: center;
    font-family: "comic sans MS",sans-serif;
}

.navbar {
  display: flex;
  position: relative;
  justify-content: space-between;
  align-items: center;
  background-color: #333;
  color: white;
  overflow: hidden;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.8);
  z-index: 3;
  position: fixed;
  width: 100%;
  letter-spacing: 4px;
}

.brand-title {
  font-size: 1.5rem;
  margin: .5rem;
}

.navbar-links {
  height: 100%;
}

.navbar-links ul {
  display: flex;
  margin: 0;
  padding: 0;
}

.navbar-links li {
  list-style: none;
}

.navbar-links li a {
  display: block;
  text-decoration: none;
  color: white;
  padding: 1rem;
}

.navbar-links li:hover {
  background-color: #555;
}

.toggle-button {
  position: absolute;
  top: .75rem;
  right: 1rem;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  width: 30px;
  height: 21px;
}

.toggle-button .bar {
  height: 3px;
  width: 100%;
  background-color: white;
  border-radius: 10px;
}

@media (max-width: 700px) {
  .navbar {
    flex-direction: column;
    align-items: flex-start;
  }

  .toggle-button {
    display: flex;
  }

  .navbar-links {
    display: none;
    width: 100%;
  }

  .navbar-links ul {
    width: 100%;
    flex-direction: column;
  }

  .navbar-links ul li {
    text-align: center;
  }

  .navbar-links ul li a {
    padding: .5rem 1rem;
  }

  .navbar-links.active {
    display: flex;
  }
}

/* Menu section */
#menu {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin: 6rem 2rem;
}
.menu_content {
  background-image:linear-gradient(rgba(0,0,0,0.75),rgba(0,0,0,0.75)), url(RESTAURANT.jpg);
  padding: 2rem;
}
.menu_title {
  font-size: 2rem;
  text-align: center;
  margin-bottom: 2rem;
}
.menu_title::before,
.menu_title::after {
  content: "-";
}
.menu_item-description {
  margin-top: 0.5rem;
}
.menu_img img {
  width: 100%;
}
@media screen and (max-width: 700px) {
  #menu {
    grid-template-columns: 1fr;
  }
  .menu_img {
    display: none;
  }
  .menu_content {
    background-image: url(Rice-1.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    z-index: 2;
    font-size: 1.5rem;
    line-height: 1.5;
    color: #fff;
    border-radius: 50px 0 50px 0;
  }
  .menu_content::before {
    content: "";
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 50px 0 50px 0;
    z-index: -1;
  }
}
   
h1{
    font-family: castellar,sans-serif;
    font-size: 40px;
}
h2{
    background: linear-gradient(45deg,darkred,black,red);
    color: white;
    padding: 15px;
    border-radius: 50%;
    width: 480px;
    margin: auto;
    box-shadow: 0 0 10px black;
}
table{
   width: 100%; 
}
table td{
  color: orangered;
}
img{
    border-radius: 10px;
    box-shadow: 0 0 10px black;
}

.footer {
  margin-top: 1rem;
  background-color:#333;
  color: #da6b1d;
  height: 110px;
  width: 100%;
  position: relative;
  font-size: 1.5rem;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  text-align: center;
  font-weight: 500;
  z-index: 3;
}
.footer span {
  color: #da6b1d;
  text-transform: uppercase;
  font-size: 1.1rem;
}
