 *,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 16px;
  list-style: none;
  text-decoration: none;
  scroll-behavior: smooth;
}
body {
  font-family: "Times New Roman", Georgia, Serif;
  display: block;

  overflow:scroll;
  background-image:linear-gradient(rgba(0,0,0,0.75),rgba(0,0,0,0.75)), url(VIP sitting area.jpg);
  background-size: cover;
  background-position: center;
  animation-name: example;
  animation-duration: 4s;
  animation-delay: 2s;
  animation-direction: alternate-reverse;
  animation-iteration-count: infinite;
}
@keyframes example {
  0% {background-image:linear-gradient(rgba(0,0,0,0.75),rgba(0,0,0,0.75)), url(RESTAURANT.jpg);
    background-size: cover;
  background-position: center;}
  25% {background-image:linear-gradient(rgba(0,0,0,0.75),rgba(0,0,0,0.75)), url(eating place.jpg);
    background-size: cover;
  background-position: center;}
    50% {background-image:linear-gradient(rgba(0,0,0,0.75),rgba(0,0,0,0.75)), url(multiple eating place.jpg);
    background-size: cover;
  background-position: center;}
}

.navbar {
  display: flex;
  position: relative;
  justify-content: space-between;
  align-items: center;
  background-color: #333;
  color: white;
  overflow: hidden;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.8);
  z-index: 3;
  position: fixed;
  width: 100%;
  letter-spacing: 4px;
}

.brand-title {
  font-size: 1.5rem;
  margin: .5rem;
}

.navbar-links {
  height: 100%;
}

.navbar-links ul {
  display: flex;
  margin: 0;
  padding: 0;
}

.navbar-links li {
  list-style: none;
}

.navbar-links li a {
  display: block;
  text-decoration: none;
  color: white;
  padding: 1rem;
}

.navbar-links li:hover {
  background-color: #555;
}

.toggle-button {
  position: absolute;
  top: .75rem;
  right: 1rem;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  width: 30px;
  height: 21px;
}

.toggle-button .bar {
  height: 3px;
  width: 100%;
  background-color: white;
  border-radius: 10px;
}

@media (max-width: 800px) {
  .navbar {
    flex-direction: column;
    align-items: flex-start;
  }

  .toggle-button {
    display: flex;
  }

  .navbar-links {
    display: none;
    width: 100%;
  }

  .navbar-links ul {
    width: 100%;
    flex-direction: column;
  }

  .navbar-links ul li {
    text-align: center;
  }

  .navbar-links ul li a {
    padding: .5rem 1rem;
  }

  .navbar-links.active {
    display: flex;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Playfair Display";
  letter-spacing: 5px;
  background-color:darkslategray;
  color: white;
  text-align: center;
}
 
/* Header */
header {
  position: relative;
  max-width: 1200px;
  height: auto;
  margin: auto;
}
header .bg_img {
  position: relative;
  height: 800px;
  background-image: url(eating place.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
#slider{
  overflow: hidden;
}
#slider figure{
  position: relative;
  width: 500%;
  margin: 0;
  left: 0;
  animation: 20s slider infinite;
}
#slider figure img{
  width: 20%;
  height: 800px;
  float: left;
}
@keyframes slider {
  0%{
    left: 0;
  }
  20%{
    left: 0;
  }
  25%{
    left: -100%;
  }
  45%{
    left: -100%;
  }
  50%{
    left: -200%;
  }
  70%{
    left: -200%;
  }
  75%{
    left: -300%;
  }
  95%{
    left: -300%;
  }
  100%{
    left: -400%;
  }
  120%{
    left: -400%;
  }
}

header .title {
  position: absolute;
  width: 100%;
  color: #fff;
  top: 50%;
  left: 50%;
  text-align: center;
  transform: translate(-50%, -50%);
}
header .title .header-title {
  font-size: 10rem;
  font-family: "Lobster";
}
header .title .header-sub-title {
  font-size: 4rem;
  margin-top: 30vh;
}
/* Menu and Header Responsiveness */
@media screen and (max-width: 768px) {
  header .title .header-title {
    font-size: 6rem;
  }
  header .title .header-sub-title {
    margin-top: 35vh;
  }
  .nav_container .nav_items {
    display: inline-block;
    text-align: center;
  }
  .nav_container .nav_items .nav_item-right {
    display: none;
  }
}
/* About */
#about {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin: 6rem auto;
  position: relative;
  height: 60vh;
  margin-top: 10vh;
  Background-image: url(multiple sitting place.jpg);
  width: 100%;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

.about_content-left {
  max-width: 100%;
  height: 80%;
  background-image: url(VIP sitting area.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  margin-left: 2rem;
}
.about_content-right {
  text-align: center;
  margin: 1rem;
}
.about_content-right .about_title {
  font-size: 2rem;
  margin-bottom: 3rem;
}
.about_content-right .about_sub_title {
  font-size: 1.5rem;
  margin-bottom: 2rem;
}
.about_content-right .about_text {
  margin-top: 0.5rem;
  padding: 0 1rem;
  line-height: 1.5;
  color: white;
}
.read_more:hover {
  text-decoration: underline;
}
.read_more:hover::after {
  content: "full history!";
}
@media screen and (max-width: 768px) {
  #about {
    grid-template-columns: 1fr;
  }
  .about_content-left {
    display: none;
  }
}
  

/* Contact Section */

#contact {
  margin: 3rem 0;
  width: 100%;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}
.contact {
  margin: 3rem 2rem;
}
.contact h1 {
  margin: 3rem 0;
  font-size: 2rem;
  color: white;
}

.contact_us_form{
  background-image: linear-gradient(rgba(0,0,0,0.75),rgba(0,0,0,0.75)), url(RESTAURANT.jpg);
  width: 100%;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  Margin: 3rem 0;
}

.contact-form{
  padding: 5rem;
  width: 100%;
}

.form{
  width: 100%;
  text-align: center;
  padding: 3rem 0;
}

.form-group{
  position: relative;
  padding: 2rem;
  width: 100%;
}

.contact-heading{
  font-size: 6rem;
  color: #da6b1d;
}

.contact-btn:link,
.contact-btn:visited{
  text-decoration: none;
  display: inline-block;
  border: 1px solid #da6b1d;
  background-color: transparent;
  color: #da6b1d;
  outline: none;
  font-size: 3.4rem;
  border-radius: 10px;
  margin-top: 2rem;
  padding: 1rem 2rem;
  box-shadow: 0 0 1rem rgba(0,0,0,.4);
  transition: all .4s ease;
}

.contact-btn:hover{
  background-color: #da6b1d;
  box-shadow: 0 .3rem 1rem rgba(0,0,0,.6);
  color: white;
}

.input{
  width: 98%;
  outline: none;
  border: 1px solid #da6b1d;
  background-color: #fff;
  height: 7rem;
  font-size: 2rem;
  border-radius: 1000px;
  text-indent: 5px;
  box-shadow: 0 0 1rem rgba(0,0,0,.2);
  padding: 1rem;
  transition: all .4s ease;
}

.input:focus{
  width: 100%;
}

.input:valid{
  border-left: 10px solid green;
}

.input:invalid{
  border-left: 10px solid red;
}

.textarea{
  resize: none;
  height: 15rem;
  border-radius: 40px;
  padding: 2rem;
}

.form-group label{
  position: absolute;
  top: 46px;
  left: 61px;
  font-size: 1.4rem;
  background-color: white;
  visibility: hidden;
  transition: top .4s ease, left .4s ease;
}

.input:focus ~ label{
  top: 11px;
  left: 61px;
  padding: 0 1rem;
  box-shadow: 0 0 1rem rgba(0,0,0,.4);
  visibility: visible;
  border-radius: 10px;
}

.input:focus::placeholder{
  color: transparent;
}

.reservation_form{
  background-image: linear-gradient(rgba(0,0,0,0.75),rgba(0,0,0,0.75)), url(RESTAURANT.jpg);
  margin: 3rem 0;
  width: 100%;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

.contact h2 {
  margin: 3rem 0;
  font-size: 2rem;
  color: white;
}

.reservation_form input {
  display: block;
  border: none;
  width: 90%;
  height: 100px;
  border-bottom: 1px solid grey;
  padding: 5rem;
  margin: 1rem;
  text-align: center;
  background-color: wheat;

  top: 11px;
  left: 61px;
  padding: 0 1rem;
  box-shadow: 0 0 1rem rgba(0,0,0,.4);
  visibility: visible;
  border-radius: 10px;
}
.reservation_form input:focus {
  border: none;
   width: 100%;
}
.reservation_form .date_time {
  display: grid;
  grid-template-columns: 45% 45%;
  justify-content: center;
  align-items: center;
}
.reservation_form .date_time label {
  display: block;
  margin-top: 1rem;
  font-family: "Playfair Display";
  color: gray;
  border-bottom: 1px solid grey;
  padding: 1rem;
}

.message_btn {
  display: inline-block;
  color: #111;
  background-color: #b4b2b2;
  font-size: 1.2rem;
  padding: 1rem 1.2rem;
  cursor: pointer;
  margin-left: 2rem;
  text-decoration: none;
  outline: none;
  border-radius: 10px;
  box-shadow: 0 0 1rem rgba(0,0,0,.4);
  transition: all .4s ease;
}

.message_btn:hover {
  background-color: #da6b1d;
  box-shadow: 0 .3rem 1rem rgba(0,0,0,.6);
  color: white;
}

.footer {
  margin-top: 1rem;
  background-color:#333;
  color: #da6b1d;
  height: 110px;
  width: 100%;
  position: relative;
  font-size: 1.5rem;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  text-align: center;
  font-weight: 500;
  z-index: 3;
}
.footer span {
  color: #da6b1d;
  text-transform: uppercase;
  font-size: 1.1rem;
}
